body {
    margin: 0;
}

header {
    padding: 10px 20px;
    background: #1d70b8;
    color: white;
    border-bottom: 1px solid #0661b1;
}

h1 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

header + .inner-panel {
    padding-top: 0;
    padding-bottom: 0;
}

.inner-panel {
    padding: 0 20px 10px 20px;
    width: 400px;
}

details {
    cursor: pointer;
}

div#CapturedUrls, div#ExcludedUrls, div#ErrorUrls {
    line-height: 20px;
    overflow: scroll;
    margin: 10px 0;
}

li {
    list-style-type: decimal;
    cursor: default;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
